body {
  font-family: 'Roboto Condensed', sans-serif;
}

section {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 6rem;
  font-weight: bold;
  line-height: 3rem;
}

h1 small {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

.text-box {
  font-size: 2rem;
  font-weight: bold;
}

.text-box::after {
  background-color: #FFF;
  top: 0;
  content: '';
  display: block;
  height: 5px;
  left: 6.5%;
  position: absolute;
  transform: translate(-50%,0);
  width: 62px;
}

.text-box p {
  padding-top: 1rem;
}