section {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  background: rgba(0, 0, 0, .8);
  padding: 5rem;
  background-size: contain;
  display: block;
}